<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 fixed-top shadow">
  <a class="navbar-brand fw-bold text-white" routerLink="/">🎬 MovieCorner</a>

<form class="d-flex mx-auto w-50" (submit)="onSearch($event, searchInput.value)">
  <input #searchInput class="form-control me-2" type="search" placeholder="Search..." aria-label="Search" />
  <button class="btn btn-outline-light" type="submit">🔍</button>
</form>

  <div class="ms-auto d-flex align-items-center gap-3">


    <!-- زرار الفيفوريتس -->
    <a class="nav-link text-white position-relative me-3" routerLink="/favorites">
      <span class="badge bg-danger position-absolute top-0 start-100 translate-middle">
        {{ wishlistCount }}
      </span>
      <span class="ms-1">Wishlist</span>
    </a>


  </div>
<select #langSelect (change)="onLanguageChange(langSelect.value)" [value]="currentLang">
  <option value="en">English</option>
  <option value="ar">العربية</option>
  <option value="fr">Français</option>
  <option value="zh">中文</option>
</select>
<div *ngFor="let movie of movies">
  {{ movie.title }}
</div>

</nav>
