<div class="container">
    <h2 class="mb-4 text-center">Favorites</h2>

    <div *ngIf="isLoading" class="text-center my-5">
        <div class="spinner-border text-primary" role="status"></div>
    </div>

    <div class="row">
        <div *ngFor="let movie of favoriteMovies" class="col-md-3 mb-4">
            <!-- بنمرر الـ handler للـ Output -->
            <app-movie-card [movie]="movie" (removedFromWishlist)="handleRemove($event)">
            </app-movie-card>
        </div>
    </div>

    <div *ngIf="!favoriteMovies?.length && !isLoading" class="text-center mt-4">
        <p>No favorite movies found.</p>
    </div>
</div>